@use "../abstracts" as *;

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  font-size: 1.6rem;
  // font-weight: 400;

  @include mq(mdScreenMin) {
    font-size: 1.6rem;
  }

  @include mq(lgScreenMin) {
    font-size: 1.7rem;
  }
  @include mq(xlScreenMin) {
    font-size: 1.8rem;
  }
}

body {
  font-family: "Montserrat-Medium";
  color: var(--clr-neutral-900);
  // letter-spacing: -0.1px;
}

h1,
h2,
h3 {
  font-family: "Hind-Medium";
  line-break: anywhere;
  @include mq(smScreenMin) {
    line-break: auto;
  }
}

h2 {
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: var(--fs-minorThird-700);
  text-transform: uppercase;
  padding-bottom: 3rem;
}

mark {
  background-color: var(--clr-complementary-main);
  color: var(--clr-primary-light);
}
