@use "../abstracts" as *;

html {
  font-size: 62.5%;
  background-color: var(--clr-primary-1000);
}

// html, .root {
//   font-size: 16px;
//   line-height: 24px;
// }

body {
  font-family: "Montserrat-Light", sans-serif;
  color: var(--clr-primary-100);
  font-size: 1.6em;
  line-height: 1.7em;
  margin: auto;
  @include mq(mdScreenMin) {
    font-size: 1.6em;
  }
  @include mq(lgScreenMin) {
    font-size: 1.7em;
  }
  @include mq(xlScreenMin) {
    font-size: 1.8em;
  }
}

// h1,
// h2,
// h3 {
//   font-family: "Hind-Medium";
//   line-break: anywhere;
//   @include mq(smScreenMin) {
//     line-break: auto;
//   }
// }

// h2 {
//   line-height: 1.2em;
//   letter-spacing: 2px;
//   font-size: var(--fs-minorThird-700);
//   text-transform: uppercase;
//   padding-bottom: 3rem;
// }

h1,
.h1 {
  font-family: "Hind-Medium", sans-serif;
  font-size: 4.125em;
  line-height: 1.09090909em;
  margin-top: 0.36363636em;
  margin-bottom: 0.72727272em;
  letter-spacing: 0.09em;
}
h2,
.h2 {
  font-family: "Hind-Medium", sans-serif;
  font-size: 2.5625em;
  line-height: 1.17073171em;
  margin-top: 0.58536585em;
  margin-bottom: 0.58536585em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 1.625em;
  line-height: 1.84615385em;
  margin-top: 0.92307692em;
  margin-bottom: 0em;
}
h4,
.h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}
