@import url("~leaflet/dist/leaflet.css");
@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
:root {
  --clr-primary-main: hsl(326deg, 76%, 23%);
  --clr-primary-dark: hsl(271deg, 37%, 13%);
  --clr-primary-dark_accent: hsl(339deg, 57%, 59%);
  --clr-primary-light_accent: hsl(339deg, 57%, 69%);
  --clr-primary-light: hsl(0deg, 4%, 95%);
  --clr-complementary-main: #3dba56;
  --clr-complementary-dark: #5bd2a8;
  --clr-complementary-dark_accent: hsl(159deg, 57%, 59%);
  --clr-complementary-light_accent: #c8f8db;
  --clr-complementary-light: hsl(0deg, 0%, 99%);
  --clr-state-success: hsl(140deg, 66%, 48%);
  --clr-state-warning: hsl(28deg, 94%, 72%);
  --clr-state-alert: hsl(341deg, 98%, 46%);
  --fs-minorThird-300: 1em;
  --fs-minorThird-400: 1.125em;
  --fs-minorThird-600: 1.953em;
  --fs-minorThird-500: 1.563em;
  --fs-minorThird-700: 2.441em;
  --fs-minorThird-800: 3.052em;
}

.text-primary-main {
  color: hsl(326deg, 76%, 23%);
}

.bg-primary-main {
  background-color: hsl(326deg, 76%, 23%);
}

.text-primary-dark {
  color: hsl(271deg, 37%, 13%);
}

.bg-primary-dark {
  background-color: hsl(271deg, 37%, 13%);
}

.text-primary-dark_accent {
  color: hsl(339deg, 57%, 59%);
}

.bg-primary-dark_accent {
  background-color: hsl(339deg, 57%, 59%);
}

.text-primary-light_accent {
  color: hsl(339deg, 57%, 69%);
}

.bg-primary-light_accent {
  background-color: hsl(339deg, 57%, 69%);
}

.text-primary-light {
  color: hsl(0deg, 4%, 95%);
}

.bg-primary-light {
  background-color: hsl(0deg, 4%, 95%);
}

.text-complementary-main {
  color: #3dba56;
}

.bg-complementary-main {
  background-color: #3dba56;
}

.text-complementary-dark {
  color: #5bd2a8;
}

.bg-complementary-dark {
  background-color: #5bd2a8;
}

.text-complementary-dark_accent {
  color: hsl(159deg, 57%, 59%);
}

.bg-complementary-dark_accent {
  background-color: hsl(159deg, 57%, 59%);
}

.text-complementary-light_accent {
  color: #c8f8db;
}

.bg-complementary-light_accent {
  background-color: #c8f8db;
}

.text-complementary-light {
  color: hsl(0deg, 0%, 99%);
}

.bg-complementary-light {
  background-color: hsl(0deg, 0%, 99%);
}

.text-state-success {
  color: hsl(140deg, 66%, 48%);
}

.bg-state-success {
  background-color: hsl(140deg, 66%, 48%);
}

.text-state-warning {
  color: hsl(28deg, 94%, 72%);
}

.bg-state-warning {
  background-color: hsl(28deg, 94%, 72%);
}

.text-state-alert {
  color: hsl(341deg, 98%, 46%);
}

.bg-state-alert {
  background-color: hsl(341deg, 98%, 46%);
}

/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Reset
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul {
  list-style: none;
  padding-left: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Utilities
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
.margin-horizontal {
  margin: 0 1.5rem;
}

.padding {
  padding: 2rem;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.grid_container {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  font-size: 1.6rem;
}
@media only screen and (min-width: 480px) {
  body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1279px) {
  body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    font-size: 1.8rem;
  }
}

body {
  font-family: "Montserrat-Medium";
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: "Hind-Medium";
  line-break: anywhere;
}
@media only screen and (min-width: 320px) {
  h1,
h2,
h3 {
    line-break: auto;
  }
}

h2 {
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: var(--fs-minorThird-700);
  text-transform: uppercase;
}

mark {
  background-color: var(--clr-complementary-main);
  color: var(--clr-primary-light);
}

/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Containers
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
.containerTotalWidth {
  padding-inline: 0.5em;
  margin-inline: auto;
  max-width: 100vw;
}

.container-padding {
  padding: 3rem 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Component - Layout
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
.Homepage {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0em 0em;
  grid-template-areas: "Hero_section" "AboutUs_section" "Classes_section";
}
.Homepage--Hero_section {
  grid-area: Hero_section;
  position: relative;
  min-height: 100vh;
}
.Homepage--AboutUs_section {
  grid-area: AboutUs_section;
  position: relative;
  background: var(--clr-primary-light);
  color: var(--clr-primary-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Homepage--Classes_section {
  grid-area: Classes_section;
  position: relative;
  background: var(--clr-primary-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PrimaryButton {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.4px;
  background: #dbe6ed;
  color: #0f1515;
  border: 1px solid #0f1515;
  transition: all 0.3s ease;
}
.PrimaryButton:hover {
  background: rgab(#dbe6ed, 0.8);
}
.PrimaryButton-outline {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #dbe6ed;
  border: 1px solid #dbe6ed;
  transition: all 0.3s ease;
}
.PrimaryButton--Modal {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.4px;
  background: #dbe6ed;
  color: #0f1515;
  width: 100%;
  border-radius: 0 0 12px 12px;
  transition: all 0.3s ease;
}
.PrimaryButton--Modal:hover {
  background: rgab(#dbe6ed, 0.9);
}

.SecondaryButton {
  cursor: pointer;
  border: 1px solid #dbe6ed;
  background: transparent;
  color: #dbe6ed;
  border-radius: 12px;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
.SecondaryButton:hover {
  background: rgba(219, 230, 237, 0.2);
}

.Wap--Box {
  bottom: 14px;
  right: 16px;
  transition: opacity 0.5s ease 0s;
  box-sizing: border-box;
  direction: ltr;
  text-align: right;
  position: fixed !important;
  z-index: 16000160 !important;
}
.Wap--flex {
  display: flex;
  margin: 7px;
  position: relative;
  justify-content: flex-end;
  max-height: 50px;
}
.Wap--flex--Color {
  flex-shrink: 0;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  order: 2;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  transition: all 0.5s ease 0s;
  position: relative;
  z-index: 200;
  display: block;
  border: 0px;
  background-color: rgb(77, 194, 71) !important;
}
.Wap--flex--Color:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
  opacity: 1;
}
.Wap--Symbol {
  stroke: white;
  fill: white;
  stroke-width: 0;
  height: 100%;
  width: 100%;
}

.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.Logo-span {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
  letter-spacing: 12px;
}

.Modal--Background {
  background-color: hsla(0deg, 0%, 0%, 0.792);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 90px;
  z-index: 10;
}
.Modal--Container {
  width: 90%;
  height: 80%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.Modal--Container--Header {
  border: 1px solid blue;
  margin: 12px 0 0 0;
  padding: 12px;
}
.Modal--Container--Body {
  padding: 12px;
}
.Modal--Container--Body--Description {
  margin-bottom: 12px;
}
.Modal--Container--Body--Professors {
  margin-bottom: 24px;
}
/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Component - Header
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
.Header {
  height: 90px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: var(--clr-primary-main);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  .Header {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .Header--menu {
    display: none;
  }
}
.Header--menu-toggle {
  color: #030502;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.Header--menu-toggle svg {
  font-size: 2em;
  color: #fff;
}
.Header--menu-toggle:hover {
  transform: scale(1.05);
}
.Header--menu .Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  outline: 0;
  background: var(--clr-primary-main);
  z-index: 7;
  transform: translateX(100vw);
  opacity: 0;
  transition: all 0.3s ease;
}
.Header--menu .Show {
  transform: translateX(0vw);
  opacity: 1;
}

/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Component - Navbar
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
.Nav {
  height: 100%;
  display: none;
  align-items: center;
}
.Nav ul {
  height: 100%;
  display: flex;
  margin-right: 32px;
}
.Nav ul li {
  cursor: pointer;
  height: 100%;
}
.Nav ul li:not(:last-child) {
  margin-right: 24px;
}
.Nav ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.Nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0;
  transition: 0.3s ease opacity;
}
.Nav ul li a:hover::after {
  opacity: 1;
  color: #fff;
}
.Nav ul li a.active {
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.Nav ul li a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .Nav {
    display: flex;
  }
}

.Menu--nav {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Menu--nav ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding-left: 0;
}
.Menu--nav ul li:not(:last-child) {
  margin-bottom: 24px;
}
.Menu--nav ul li a {
  text-decoration: none;
  color: #fff;
}
.Menu--nav ul li a:hover {
  color: #fff;
}

.Hero--Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hero--Overlay {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 21, 21, 0.3);
  -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero--Overlay--Content-Box {
  position: relative;
  margin: 0 1.5rem;
  background: rgba(15, 21, 21, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 32px;
  border-radius: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.Hero--Overlay--Content-Box--Title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Title {
    font-size: 3rem;
  }
}
.Hero--Overlay--Content-Box--Tagline {
  font-weight: 700;
  color: #dbe6ed;
  font-style: italic;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Tagline {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Tagline {
    font-size: 2rem;
  }
}
.Hero--Overlay--Content-Box--Description {
  text-transform: capitalize;
  color: #dbe6ed;
  width: 100%;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Description {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Description {
    width: 60%;
    margin: 0 auto 32px auto;
  }
}
.Hero--Overlay--Content-Box--Cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Hero--Overlay--Content-Box--Cta button {
  width: 100%;
}
.Hero--Overlay--Content-Box--Cta button:not(:last-child) {
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .Hero--Overlay--Content-Box--Cta {
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
  }
  .Hero--Overlay--Content-Box--Cta button {
    width: auto;
  }
  .Hero--Overlay--Content-Box--Cta button:not(:last-child) {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.spacer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 2/3;
}

.layer1 {
  background-image: url("../../public/wave-haikei23.svg");
  position: absolute;
  z-index: 1;
  bottom: -1px;
}

.About_Us--Grid {
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1em 0;
  grid-auto-flow: row;
  grid-template-areas: "Title" "Text";
}
@media only screen and (min-width: 480px) {
  .About_Us--Grid {
    width: 85%;
  }
}
@media only screen and (min-width: 768px) {
  .About_Us--Grid {
    grid-template-columns: 2fr 1fr;
    width: 85%;
  }
}
.About_Us--Title {
  grid-area: Title;
  position: relative;
}
.About_Us--Text {
  grid-area: Text;
  position: relative;
}

/* center the blockquote in the page */
.Classes--Grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 1em 0;
  grid-auto-flow: column;
  grid-template-areas: "C_Title" "C_Text" "C_Swiper";
}
@media only screen and (min-width: 768px) {
  .Classes--Grid {
    width: 85%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "C_Swiper C_Title C_Title " "C_Swiper C_Text C_Text";
  }
}
.Classes--Grid--Title {
  grid-area: C_Title;
  margin: 0 24px;
}
.Classes--Grid--Text {
  grid-area: C_Text;
  margin: 0 24px;
}
.Classes--Grid--Swiper {
  grid-area: C_Swiper;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .Classes--Grid--Swiper {
    width: 480px;
  }
}

.Swiper {
  width: 100%;
}
.Swiper--Slide--Item {
  width: 90%;
  height: 400px;
  margin: 1rem auto 5rem;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  border: 2px solid #fff;
  transition: 0.3s ease all;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 768px) {
  .Swiper--Slide--Item:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);
  }
  .Swiper--Slide--Item:hover .Swiper--Slide--Overlay {
    background: transparent;
  }
}
.Swiper--Slide--Item--Img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Swiper--Slide--Content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.Swiper--Slide--Content--Class {
  margin-left: 6px;
  color: #0f1515;
  letter-spacing: 0.4px;
}
@media only screen and (min-width: 768px) {
  .Swiper--Slide--Content--Overlay {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: rgba(15, 21, 21, 0.2);
    transition: 0.3s ease all;
  }
}
.Swiper--Slide--Tag {
  position: absolute;
  background: #fff;
  top: -12px;
  left: 12px;
  padding: 6px 8px;
  border-radius: 12px;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
}

.Footer {
  padding: 100px 0 25px 0;
  width: 100vw;
  margin: 0 auto;
  background-color: black;
}
.Footer .leaflet-container {
  height: 300px;
  z-index: 10;
}
.Footer-Newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.Footer-Newsletter-Headline {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  margin-bottom: 24px;
}
.Footer-Newsletter span {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 24px;
}
.Footer-Newsletter-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer-Newsletter-Form Button {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .Footer-Newsletter-Form {
    flex-direction: row;
  }
  .Footer-Newsletter-Form Button {
    width: auto;
  }
}
.Footer .Input {
  letter-spacing: 0.4px;
  font-family: inherit;
  font-size: 1.1rem;
  margin-bottom: 12px;
  padding: 12px 24px;
  border-radius: 12px;
}
@media only screen and (min-width: 768px) {
  .Footer .Input {
    width: 300px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.Footer .Input:focus {
  outline: 0;
}
.Footer-Content {
  width: 100%;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  text-align: center;
  margin-bottom: 64px;
}
@media only screen and (min-width: 480px) {
  .Footer-Content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .Footer-Content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.Footer-Content-Col {
  height: 100%;
}
.Footer-Content-Col-Headline {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 24px;
  letter-spacing: 0.4px;
}
.Footer-Content-Col-Links li {
  margin-bottom: 12px;
}
.Footer-Content-Col-Links li a {
  letter-spacing: 0.4px;
  width: 100%;
  color: #fff;
  text-decoration: none;
}
.Footer-Base {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .Footer-Base {
    flex-direction: row;
  }
}
.Footer-Base a:not(:first-child), .Footer-Base-Year:not(:first-child),
.Footer-Base ul:not(:first-child) {
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .Footer-Base a:not(:first-child), .Footer-Base-Year:not(:first-child),
.Footer-Base ul:not(:first-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .Footer-Base a, .Footer-Base-Year,
.Footer-Base ul {
    flex: 1;
  }
}
.Footer-Base-Year {
  display: flex;
  justify-content: center;
  letter-spacing: 0.4px;
  font-size: 0.9rem;
}
.Footer-Base-Socials {
  display: flex;
  justify-content: flex-end;
}
.Footer-Base-Socials li:not(:last-child) {
  margin-right: 24px;
}
@media only screen and (min-width: 768px) {
  .Footer-Base-Socials li:not(:last-child) {
    margin-right: 12px;
  }
}
.Footer-Base-Socials li a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */