@import url("~leaflet/dist/leaflet.css");
@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
:root {
  --clr-primary-main: rgb(103, 14, 65);
  --clr-primary-dark: rgb(34, 21, 45);
  --clr-primary-dark_accent: rgb(210, 91, 133);
  --clr-primary-light_accent: rgb(221, 131, 162);
  --clr-primary-light: rgb(243, 242, 242);
  --clr-complementary-main: rgb(61, 186, 86);
  --clr-complementary-dark: rgb(91, 210, 168);
  --clr-complementary-dark_accent: rgb(91, 210, 168);
  --clr-complementary-light_accent: rgb(200, 248, 219);
  --clr-complementary-light: rgb(252, 252, 252);
  --clr-state-success: rgb(42, 203, 95);
  --clr-state-warning: rgb(251, 179, 116);
  --clr-state-alert: rgb(232, 2, 75);
  --fs-minorThird-300: 1em;
  --fs-minorThird-400: 1.125em;
  --fs-minorThird-600: 1.953em;
  --fs-minorThird-500: 1.563em;
  --fs-minorThird-700: 2.441em;
  --fs-minorThird-800: 3.052em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul {
  list-style: none;
  padding-left: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  font-size: 1.6rem;
}

@media only screen and (min-width: 480px) {
  body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1024px) {
  body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    font-size: 1.8rem;
  }
}
body {
  font-family: "Montserrat-Medium";
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: "Hind-Medium";
  line-break: anywhere;
}

@media only screen and (min-width: 320px) {
  h1,
h2,
h3 {
    line-break: auto;
  }
}
h2 {
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: var(--fs-minorThird-700);
  text-transform: uppercase;
  padding-bottom: 3rem;
}

mark {
  background-color: var(--clr-complementary-main);
  color: var(--clr-primary-light);
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.Homepage {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0em 0em;
  grid-template-areas: "Hero" "AboutUs" "Classes";
}

.Hero {
  grid-area: Hero;
  position: relative;
  min-height: 100vh;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.ButtonFillLight {
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  background: rgb(243, 242, 242);
  color: rgb(34, 21, 45);
}

.ButtonFillLight:hover {
  background: transparent;
  border: 1px solid rgb(243, 242, 242);
  color: rgb(243, 242, 242);
}

.ButtonFillDark {
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  background: rgb(34, 21, 45);
  color: rgb(243, 242, 242);
}

.ButtonFillDark:hover {
  background: transparent;
  border: 1px solid rgb(34, 21, 45);
  color: rgb(34, 21, 45);
}

.ButtonOutlineLight {
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
  background: transparent;
  border: 1px solid rgb(243, 242, 242);
  color: rgb(243, 242, 242);
}

.ButtonOutlineLight:hover {
  background: rgba(243, 242, 242, 0.8);
  color: rgb(34, 21, 45);
}

.ButtonOutlineDark {
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
  background: transparent;
  background: rgb(243, 242, 242);
  color: rgb(34, 21, 45);
}

.ButtonOutlineDark:hover {
  background: #22152d;
  color: rgb(243, 242, 242);
}

.ButtonModal {
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  background: rgba(210, 91, 133, 0.5);
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.ButtonModal:hover {
  background: #670e41;
  color: rgb(243, 242, 242);
}

.FullWidth {
  width: 100%;
}

.Wap--Box {
  bottom: 14px;
  right: 16px;
  transition: opacity 0.5s ease 0s;
  box-sizing: border-box;
  direction: ltr;
  text-align: right;
  position: fixed !important;
  z-index: 16000160 !important;
}

.Wap--flex {
  display: flex;
  margin: 7px;
  position: relative;
  justify-content: flex-end;
  max-height: 50px;
}

.Wap--flex--Color {
  flex-shrink: 0;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  order: 2;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  transition: all 0.5s ease 0s;
  position: relative;
  z-index: 200;
  display: block;
  border: 0px;
  background-color: rgb(77, 194, 71) !important;
}

.Wap--flex--Color:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
  opacity: 1;
}

.Wap--Symbol {
  stroke: white;
  fill: white;
  stroke-width: 0;
  height: 100%;
  width: 100%;
}

.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(243, 242, 242);
}

.Logo-span {
  font-size: 2rem;
  color: rgb(243, 242, 242);
  font-weight: 900;
  letter-spacing: 12px;
}

.Modal--Background {
  background-color: hsla(0deg, 0%, 0%, 0.792);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 90px;
  z-index: 10;
}

.Modal--Container {
  width: 90%;
  height: 80%;
  background-color: rgb(243, 242, 242);
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Modal--Container--Header {
  border: 1px solid blue;
  margin: 12px 0 0 0;
  padding: 12px;
}

.Modal--Container--Body {
  padding: 12px;
}

.Modal--Container--Body--Description {
  margin-bottom: 12px;
}

.Modal--Container--Body--Professors {
  margin-bottom: 24px;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.Header {
  height: 90px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgba(103, 14, 65, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  .Header {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .Header--menu {
    display: none;
  }
}
.Header--menu-toggle {
  color: rgb(34, 21, 45);
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.Header--menu-toggle svg {
  font-size: 2em;
  color: rgb(243, 242, 242);
}
.Header--menu-toggle:hover {
  transform: scale(1.05);
}
.Header--menu .Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  outline: 0;
  background: #670e41;
  z-index: 7;
  transform: translateX(100vw);
  opacity: 0;
  transition: all 0.3s ease;
}
.Header--menu .Show {
  transform: translateX(0vw);
  opacity: 1;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Component - Navbar
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
.Nav {
  height: 100%;
  display: none;
  align-items: center;
}
.Nav ul {
  height: 100%;
  display: flex;
  margin-right: 32px;
}
.Nav ul li {
  cursor: pointer;
  height: 100%;
}
.Nav ul li:not(:last-child) {
  margin-right: 24px;
}
.Nav ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: rgb(243, 242, 242);
  position: relative;
}
.Nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(243, 242, 242);
  opacity: 0;
  transition: 0.3s ease opacity;
}
.Nav ul li a:hover::after {
  opacity: 1;
  color: rgb(243, 242, 242);
}
.Nav ul li a.active {
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: rgb(243, 242, 242);
  position: relative;
}
.Nav ul li a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(243, 242, 242);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .Nav {
    display: flex;
  }
}

.Menu--nav {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Menu--nav ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding-left: 0;
}
.Menu--nav ul li:not(:last-child) {
  margin-bottom: 24px;
}
.Menu--nav ul li a {
  text-decoration: none;
  color: rgb(243, 242, 242);
}
.Menu--nav ul li a:hover {
  color: rgb(243, 242, 242);
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.Hero--Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hero--Overlay {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.AboutUs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: AboutUs;
  background: var(--clr-primary-light);
  color: var(--clr-primary-dark);
}
.AboutUs--Background {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.AboutUs--TextContainer {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .AboutUs--TextContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .AboutUs--TextContainer {
    width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  .AboutUs--TextContainer {
    width: 85%;
  }
}
.AboutUs--SwiperContainer {
  width: 100vw;
  padding-bottom: 10rem;
}
@media only screen and (min-width: 768px) {
  .AboutUs--SwiperContainer {
    width: 480px;
  }
}
.AboutUs--SwiperContainer--SwiperSlide {
  width: 100px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.AboutUs--SwiperContainer--SwiperSlide--Img {
  width: 100px;
}
.AboutUs--ButtonContainer {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .AboutUs--ButtonContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .AboutUs--ButtonContainer {
    width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  .AboutUs--ButtonContainer {
    width: 85%;
  }
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.Classes {
  grid-area: Classes;
  background: var(--clr-primary-light);
  color: hsla(var(--clr-primary-dark), 0.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Classes--Background {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.Classes--MainContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 1em 0;
  grid-auto-flow: column;
  grid-template-areas: "C_Title" "C_Text" "C_Swiper";
}
@media only screen and (min-width: 480px) {
  .Classes--MainContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .Classes--MainContainer {
    width: 85%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "C_Swiper C_Title C_Title " "C_Swiper C_Text C_Text";
  }
}
.Classes--FirstContainer {
  padding-bottom: 0;
}
.Classes--FirstContainer--Title {
  grid-area: C_Title;
  margin: 0 24px;
}
.Classes--FirstContainer--Text {
  grid-area: C_Text;
  margin: 0 24px;
}
.Classes--SwiperContainer {
  grid-area: C_Swiper;
  width: 100vw;
  padding-bottom: 10rem;
}
@media only screen and (min-width: 768px) {
  .Classes--SwiperContainer {
    width: 480px;
  }
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.Swiper {
  width: 100%;
}
.Swiper--Slide--Item {
  width: 90%;
  height: 400px;
  margin: 1rem auto 5rem;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  border: 2px solid rgb(243, 242, 242);
  transition: 0.3s ease all;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 768px) {
  .Swiper--Slide--Item:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);
  }
  .Swiper--Slide--Item:hover .Swiper--Slide--Overlay {
    background: transparent;
  }
}
.Swiper--Slide--Item--Img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Swiper--Slide--Content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  background: rgb(243, 242, 242);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.Swiper--Slide--Content--Class {
  margin-left: 6px;
  color: rgb(34, 21, 45);
  letter-spacing: 0.4px;
}
@media only screen and (min-width: 768px) {
  .Swiper--Slide--Content--Overlay {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: rgba(34, 21, 45, 0.2);
    transition: 0.3s ease all;
  }
}
.Swiper--Slide--Tag {
  position: absolute;
  background: rgb(243, 242, 242);
  top: -12px;
  left: 12px;
  padding: 6px 8px;
  border-radius: 12px;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-color: black;
}

.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-Medium";
  src: url("../../public/fonts/Hind-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Hind-SemiBold";
  src: url("../../public/fonts/Hind-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}
.Footer {
  padding: 100px 0 25px 0;
  margin: 0 auto;
  background-color: black;
}
.Footer .leaflet-container {
  height: 300px;
  margin: 64px;
  z-index: 10;
}
.Footer--SoMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer-Newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.Footer-Newsletter-Headline {
  color: rgb(243, 242, 242);
  letter-spacing: 0.4px;
  margin-bottom: 24px;
}
.Footer-Newsletter span {
  color: rgb(243, 242, 242);
  margin-bottom: 24px;
}
.Footer-Newsletter-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer-Newsletter-Form Button {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .Footer-Newsletter-Form {
    flex-direction: row;
  }
  .Footer-Newsletter-Form Button {
    width: auto;
  }
}
.Footer .Input {
  letter-spacing: 0.4px;
  font-family: inherit;
  font-size: 1.1rem;
  margin-bottom: 12px;
  padding: 12px 24px;
  border-radius: 12px;
}
@media only screen and (min-width: 768px) {
  .Footer .Input {
    width: 300px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.Footer .Input:focus {
  outline: 0;
}
.Footer-Content {
  width: 100%;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  text-align: center;
  margin-bottom: 64px;
}
@media only screen and (min-width: 480px) {
  .Footer-Content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .Footer-Content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.Footer-Content-Col {
  height: 100%;
}
.Footer-Content-Col-Headline {
  color: rgb(243, 242, 242);
  font-size: 1.6rem;
  margin-bottom: 24px;
  letter-spacing: 0.4px;
}
.Footer-Content-Col-Links li {
  margin-bottom: 12px;
}
.Footer-Content-Col-Links li a {
  letter-spacing: 0.4px;
  width: 100%;
  color: rgb(243, 242, 242);
  text-decoration: none;
}
.Footer-Base {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: rgb(243, 242, 242);
}
@media only screen and (min-width: 768px) {
  .Footer-Base {
    flex-direction: row;
  }
}
.Footer-Base a:not(:first-child),
.Footer-Base ul:not(:first-child) {
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .Footer-Base a:not(:first-child),
.Footer-Base ul:not(:first-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .Footer-Base a,
.Footer-Base ul {
    flex: 1;
  }
}
.Footer-Base-Year {
  display: flex;
  justify-content: center;
  letter-spacing: 0.4px;
  font-size: 0.9rem;
}
.Footer-Base-Socials {
  display: flex;
  justify-content: flex-end;
}
.Footer-Base-Socials li:not(:last-child) {
  margin-right: 24px;
}
@media only screen and (min-width: 768px) {
  .Footer-Base-Socials li:not(:last-child) {
    margin-right: 12px;
  }
}
.Footer-Base-Socials li a {
  font-size: 1.6rem;
  color: rgb(243, 242, 242);
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */