$colors: (
  main: (
    500: hsl(339, 58%, 78%),
    600: hsl(339, 57%, 73%),
    700: hsl(339, 57%, 69%),
    800: hsl(339, 58%, 65%),
    900: hsl(339, 58%, 60%),
    1000: hsl(339, 58%, 55%),
    1000a: hsla(339, 58%, 55%, 0.9),
    1100: hsl(339, 46%, 50%),
    1200: hsl(339, 46%, 45%),
    1300: hsl(339, 46%, 39%),
    1400: hsl(339, 46%, 33%),
    1500: hsl(339, 46%, 28%),
  ),
  lightAccent: (
    500: hsl(326, 7%, 81%),
    600: hsl(326, 6%, 77%),
    700: hsl(320, 7%, 73%),
    800: hsl(324, 6%, 69%),
    900: hsl(320, 7%, 65%),
    1000: hsl(323, 7%, 62%),
    1100: hsl(325, 5%, 56%),
    1200: hsl(324, 4%, 49%),
    1300: hsl(327, 4%, 43%),
    1400: hsl(326, 4%, 37%),
    1500: hsl(320, 4%, 31%),
  ),
  lightShades: (
    500: hsl(0, 14%, 97%),
    600: hsl(0, 18%, 97%),
    700: hsl(15, 20%, 96%),
    800: hsl(15, 17%, 95%),
    900: hsl(15, 15%, 95%),
    1000: hsl(12, 17%, 94%),
  ),
  darkAccent: (
    500: hsl(283, 16%, 78%),
    600: hsl(281, 16%, 74%),
    700: hsl(283, 16%, 69%),
    800: hsl(281, 16%, 65%),
    900: hsl(283, 16%, 60%),
    1000: hsl(282, 16%, 56%),
    1100: hsl(281, 13%, 51%),
    1200: hsl(281, 13%, 45%),
    1300: hsl(281, 12%, 39%),
    1400: hwb(282 29% 62%),
    1500: hsl(280, 12%, 28%),
  ),
  darkShades: (
    1000: hsl(268, 20%, 17%),
    1100: hsl(268, 19%, 15%),
    1200: hsl(266, 20%, 14%),
    1300: hsl(267, 18%, 12%),
    1400: hsl(270, 19%, 10%),
    1500: hsl(270, 18%, 9%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%),
  ),
);
