$colors: (
  primary: (
    main: rgb(103, 14, 65),
    dark: rgb(34, 21, 45),
    dark_accent: rgb(210, 91, 133),
    light_accent: rgb(221, 131, 162),
    light: rgb(243, 242, 242),
  ),
  complementary: (
    main: rgb(61, 186, 86),
    dark: rgb(91, 210, 168),
    dark_accent: rgb(91, 210, 168),
    light_accent: rgb(200, 248, 219),
    light: rgb(252, 252, 252),
  ),
  state: (
    success: rgb(42, 203, 95),
    warning: rgb(251, 179, 116),
    alert: rgb(232, 2, 75),
  ),
);
