$colors: (
  primary: (
    main: hsl(326, 76%, 23%),
    dark: hsl(271, 37%, 13%),
    dark_accent: hsl(339, 57%, 59%),
    light_accent: hsl(339, 57%, 69%),
    light: hsl(0, 4%, 95%),
  ),
  complementary: (
    main: #3dba56,
    dark: #5bd2a8,
    dark_accent: hsl(159, 57%, 59%),
    light_accent: #c8f8db,
    light: hsl(0, 0%, 99%),
  ),
  state: (
    success: hsl(140, 66%, 48%),
    warning: hsl(28, 94%, 72%),
    alert: hsl(341, 98%, 46%),
  ),
);
