@use "breakpoints" as *;
@use "variables" as *;

//! Mixin for breakpoints
@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media only screen and (min-width: $size) {
    @content;
  }
}

//!Mixins for containers
@mixin container--section {
  min-height: 100vh;
  @include center-vertical-flex;
}

@mixin container--main {
  width: $width-container;
  margin: 0 auto;
  @include mq(mdScreenMin) {
    width: $width-container-md;
  }
  @include mq(lgScreenMin) {
    width: $width-container-lg;
  }
  @include mq(xlScreenMin) {
    width: $width-container-xl;
  }
}

//!Mixins for center things
@mixin center-vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//!Mixins for Buttons
@mixin button {
  cursor: pointer;
  border-radius: $borderRadius;
  padding: $spacing-sm $spacing-lg;
  font-weight: 700;
  letter-spacing: $letterSpacing;
  transition: all 0.3s ease;
  @content;
}
