$type-scale: (
  minorThird: (
    // Minor third
    300: 1em,
    400: 1.125em,
    600: 1.953em,
    500: 1.563em,
    700: 2.441em,
    800: 3.052em,
  ),
  mediumType: (
    // Augmented fourth
    300: 1em,
    400: 1.25em,
    500: 2em,
    600: 2.827em,
    700: 4em,
    800: 5.653em,
  ),
);
