// color
$clr-primary-main: rgb(103, 14, 65);
$clr-primary-dark: rgb(34, 21, 45);
$clr-primary-dark_accent: rgb(210, 91, 133);
$clr-primary-light_accent: rgb(221, 131, 162);
$clr-primary-light: rgb(243, 242, 242);

//  border-radius
$borderRadius: 12px;

// letter spacing
$letterSpacing: 0.4px;

// spacing - outer e inner
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Main containers width,
$width-container: 90%;
$width-container-md: 90%;
$width-container-lg: 85%;
$width-container-xl: 85%;
$padding-container: 1.5rem;
$padding-container-md: 2rem;
$padding-container-lg: 2.5rem;
$padding-container-xl: 3rem;
$padding: 1.5rem;

// heights
$headerHeight: 90px;

// box shadow
$boxShadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
  0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.05);
