@use "../abstracts" as *;

.Homepage {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0em 0em;
  grid-template-areas:
    "Hero"
    "AboutUs_GridArea"
    "Classes";
}
.Hero {
  grid-area: Hero;
  position: relative;
  min-height: 100vh;
}
