@use "../../abstracts" as *;

@import url("~leaflet/dist/leaflet.css");

.Footer {
  padding: 3.75rem 0 1.5625rem 0;
  margin: 0 auto;
  background-color: black;

  .leaflet-container {
    @include container--main;
    height: 200px;
    z-index: 10;
  }

  &--Head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &--Headline {
      color: $clr-primary-light;
      // font-size: 1.6rem;
      letter-spacing: $letterSpacing;
      margin-bottom: $spacing-md;
    }
    &--Socials {
      display: flex;
      justify-content: flex-end;
      li {
        &:not(:last-child) {
          margin-right: $spacing-lg;
          @include mq(lgScreenMin) {
            margin-right: $spacing-sm;
          }
        }
        a {
          width: 100px;
          height: 100px;
          color: $clr-primary-light;
          text-decoration: none;
        }
      }
    }
  }

  span {
    color: $clr-primary-light;
    // font-size: 1.1rem;
    margin-bottom: $spacing-md;
  }
  &-Form {
    display: flex;
    flex-direction: column;
    align-items: center;

    Button {
      width: 100%;
    }

    @include mq(lgScreenMin) {
      Button {
        width: auto;
      }
      flex-direction: row;
    }
  }
  &-Content {
    width: 100%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
    text-align: center;
    margin-bottom: $spacing-xl;

    @include mq(mdScreenMin) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(lgScreenMin) {
      grid-template-columns: repeat(4, 1fr);
    }

    &-Col {
      height: 100%;

      &-Headline {
        font-weight: 700;
        color: $clr-primary-light;
        font-size: 2rem;
        margin-bottom: $spacing-md;
        letter-spacing: $letterSpacing;
      }

      &-Links {
        li {
          margin-bottom: $spacing-sm;
          a {
            letter-spacing: $letterSpacing;
            width: 100%;
            color: $clr-primary-light;
            text-decoration: none;
          }
        }
      }
    }
  }
  &-Base {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: $clr-primary-light;
    @include mq(lgScreenMin) {
      flex-direction: row;
    }
    a,
    ul {
      &:not(:first-child) {
        margin-bottom: $spacing-sm;
        @include mq(lgScreenMin) {
          margin-bottom: 0;
        }
      }
      @include mq(lgScreenMin) {
        flex: 1;
      }
    }
    &-Year {
      display: flex;
      justify-content: center;
      letter-spacing: $letterSpacing;
      font-size: 0.9rem;
    }
  }
}
.Input {
  letter-spacing: $letterSpacing;
  font-family: inherit;
  font-size: 1.1rem;
  margin-bottom: $spacing-sm;
  padding: $spacing-sm $spacing-md;
  border-radius: $borderRadius;

  @include mq(lgScreenMin) {
    width: 300px;
    margin-bottom: 0;
    margin-right: $spacing-sm;
  }

  &:focus {
    outline: 0;
  }
}

.social-icon {
  width: 5em !important;
  height: 5em !important;
  background-color: aqua !important;
  color: rgb(132, 54, 54) !important;
}
