@use "../abstracts" as *;

.AboutUs {
  @include container--section;
  grid-area: AboutUs;
  background: var(--clr-primary-light);
  color: var(--clr-primary-dark);

  &--Background {
    // background-image: url("../../public/waves-mobile.svg");
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(lgScreenMin) {
      // background-image: url("../../public/waves-tablet.svg");
    }
    @include mq(xlScreenMin) {
      // background-image: url("../../public/waves-desktop.svg");
    }
  }

  &--TextContainer {
    @include container--main;
    &--Title {
    }
    &--Paragraph {
    }
  }

  &--SwiperContainer {
    width: 100vw;

    padding-bottom: 10rem;
    @include mq(lgScreenMin) {
      width: 480px;
    }
    &--SwiperSlide {
      width: 100px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &--Img {
        width: 100px;
      }
    }
  }
  &--ButtonContainer {
    @include container--main;
  }
}
