@use "../abstracts" as *;

.Classes {
  grid-area: Classes;
  background: var(--clr-primary-light);
  color: hsla(var(--clr-primary-dark), 0.8);
  @include container--section;

  &--Background {
    // background-image: url("../../public/layered-waves-mobile.svg");
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(lgScreenMin) {
      // background-image: url("../../public/layered-waves-tablet.svg");
    }
    @include mq(xlScreenMin) {
      // background-image: url("../../public/layered-waves-desktop.svg");
    }
  }

  &--MainContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 1em 0;
    grid-auto-flow: column;
    grid-template-areas:
      "C_Title"
      "C_Text"
      "C_Swiper";
    @include mq(mdScreenMin) {
      width: $width-container-md;
    }
    @include mq(lgScreenMin) {
      width: 85%;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "C_Swiper C_Title C_Title "
        "C_Swiper C_Text C_Text";
    }
  }

  &--FirstContainer {
    // @include main-container;
    padding-bottom: 0;
    &--Title {
      grid-area: C_Title;
      margin: 0 $spacing-md;
    }
    &--Text {
      grid-area: C_Text;
      margin: 0 $spacing-md;
    }
  }

  &--SwiperContainer {
    grid-area: C_Swiper;
    width: 100vw;
    padding-bottom: 10rem;
    @include mq(lgScreenMin) {
      width: 480px;
    }
  }
}
