@use "../abstracts" as *;

.Classes {
  &--Grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 1em 0;
    grid-auto-flow: column;
    grid-template-areas:
      "C_Title"
      "C_Text"
      "C_Swiper";

    @include mq(largeScreenMin) {
      width: 85%;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "C_Swiper C_Title C_Title "
        "C_Swiper C_Text C_Text";
    }
    &--Title {
      grid-area: C_Title;
      margin: 0 $spacing-md;
    }
    &--Text {
      grid-area: C_Text;
      margin: 0 $spacing-md;
    }
    &--Swiper {
      grid-area: C_Swiper;
      width: 100vw;
      @include mq(largeScreenMin) {
        width: 480px;
      }
    }
  }
}

// .Classes {
//   // @include container;
//   &-Content {
//     margin: 0 1.5rem;
//     width: 1000px;
//     display: flex;
//     flex-direction: column;

//     &-Title {
//       color: $dark;
//       font-size: 2rem;
//       letter-spacing: $letterSpacing;
//       font-weight: 900;
//       position: relative;
//       margin-bottom: $spacing-xl;

//       &::after {
//         content: "";
//         position: absolute;
//         display: inline;
//         top: 22px;
//         right: 0;
//         width: calc(100% - 351px);
//         height: 2px;
//         background: #0f1515;
//       }
//     }
//     &-Gallery {
//       display: grid;
//       grid-template-columns: 1fr;
//       grid-auto-rows: 275px;
//       gap: $spacing-md;
//       margin-bottom: $spacing-xl;

//       @include mq(mediumScreenMin) {
//         grid-template-columns: repeat(2, 1fr);
//         grid-auto-rows: 250px;
//       }

//       @include mq(xLargeScreenMin) {
//         grid-template-columns: repeat(3, 1fr);
//       }
//     }
//     &-ViewMore {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       a {
//         letter-spacing: $letterSpacing;
//         padding: $spacing-sm $spacing-md;
//         text-decoration: none;
//         border-radius: $borderRadius;
//         color: $dark;
//         transition: 0.3s ease all;
//         display: flex;
//         align-items: center;
//         font-size: 1.1rem;

//         svg {
//           font-size: 1.2rem;
//           margin-left: $spacing-sm;
//           padding-top: 2px;
//         }

//         &:hover {
//           background: rgba($dark, 0.05);
//         }
//       }
//     }
//   }
// }
