@use "../abstracts" as *;

/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
Component - Header
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/

.Header {
  height: $headerHeight;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: var(--clr-darkShades-1500);
  backdrop-filter: blur(5px);
  z-index: 1000;
  transition: all 0.5s ease;
  @include mq(largeScreenMin) {
    padding: 0 3rem;
  }

  &--menu {
    @include mq(largeScreenMin) {
      display: none;
    }
    &-toggle {
      color: $black;
      // background-color: white;
      position: relative;
      z-index: 10;
      cursor: pointer;
      svg {
        font-size: 2em;
        color: $white;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    .Menu {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 0px;
      padding: 3rem;
      width: 100vw;
      // max-width: 700px;
      height: 100vh;
      outline: 0;
      background: $black;
      z-index: 7;
      transform: translateX(100vw);
      opacity: 0;
      transition: all 0.3s ease;
    }

    .Show {
      transform: translateX(0vw);
      opacity: 0.9;
    }
  }
}
