@use "../../abstracts" as *;
.toggle {
  width: 4rem;
  height: 2rem;
  margin: 4rem;
  background-color: gray;
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sun,
.moon {
  font-size: 1.2rem;
}
.sun {
  color: yellow;
}
.circle-light {
  width: 1.4rem;
  height: 1.4rem;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
}
.circle-dark {
  width: 1.4rem;
  height: 1.4rem;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
}
