@use "../abstracts" as *;

.ButtonFillLight {
  @include button;
  border: none;
  outline: none;
  background: $clr-primary-light;
  color: $clr-primary-dark;
  &:hover {
    background: transparent;
    border: 1px solid $clr-primary-light;
    color: $clr-primary-light;
  }
}
.ButtonFillDark {
  @include button;
  border: none;
  outline: none;
  background: $clr-primary-dark;
  color: $clr-primary-light;
  &:hover {
    background: transparent;
    border: 1px solid $clr-primary-dark;
    color: $clr-primary-dark;
  }
}

.ButtonOutlineLight {
  @include button;
  background: transparent;
  border: 1px solid $clr-primary-light;
  color: $clr-primary-light;
  &:hover {
    background: rgba($clr-primary-light, 0.8);
    color: $clr-primary-dark;
  }
}
.ButtonOutlineDark {
  @include button;
  background: transparent;
  background: $clr-primary-light;
  color: $clr-primary-dark;
  &:hover {
    background: rgba($clr-primary-dark, 1);
    color: $clr-primary-light;
  }
}

.ButtonModal {
  @include button;
  border: none;
  outline: none;
  background: rgba($clr-primary-dark_accent, 0.5);
  width: 100%;
  border-radius: 0 0 $borderRadius $borderRadius;
  &:hover {
    background: rgba($clr-primary-main, 1);
    color: $clr-primary-light;
  }
}

.FullWidth {
  width: 100%;
}
